.ordersContainer {
  height: 715px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordersBox {
  height: 90%;
  width: 70%;
  display: flex;
  background-color: #e8e3e3;
  border-radius: 8px;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.noOrdersText {
  font-size: 25px;
  color: #c4c2c2;
  font-family: "Kanit", sans-serif;
  text-align: center;
}

.ordersBoxFalse {
  height: 90%;
  width: 70%;
  display: flex;
  background-color: #e8e3e3;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
